{% extends 'base.html' %}

{% block content %}

<h1 class="display-3">Education</h1>
<br>

<div class='row'> 

<div class='col-lg-6'>
<div class="card border-secondary mb-3">
  <div class="card-header">Undergraduate degree</div>
  <div class="card-body">
    <h4 class="card-title">University of Warwick</h4>
<p><b>Second year grade</b>: Pending</p>
<p><b>Modules:</b> Algorithms, Formal Languages, Logic and Verification, Algorithmic Graph Theory, Database Systems, Operating Systems & Computer Networks, Software Engineering, Artificial Intelligence</p>
<p><b>First year grade:</b> 1 (76%)</p>
<p><b>Awards:</b> 'Purple Lambda' for one of highest grades in Functional Programming coursework</p>
<p><b>Modules:</b> Object Oriented Programming (Java), Data Structures and Algorithm Analysis, Discrete Mathematics, Linear Algebra, Functional Programming (Haskell), Professional Skills, Computer Security, Computer Architecture</p>
  </div>
</div>
</div>

<div class='col-lg-6'>
<div class="card border-secondary mb-3">
  <div class="card-header">A Levels & GCSEs</div>
  <div class="card-body">
    <h4 class="card-title">Y Pant Comprehensive School</h4>
<p><b>A Level Grades:</b> A*A*A*aa</p>
<p><b>Subjects:</b> Maths, Physics, Biology, Further Maths AS, Computer Science AS</p>
<p><b>Supercurriculars:</b> Seren Network workshops in Mathematics covering content beyond the A Level curriculum</p>
<p><b>Responsibilities:</b> Student Prefect developing leadership and teamwork skills</p>
<p><b>GCSE Grades:</b> 12A*, 1A</p>
<p><b>Accomplishments:</b> Most A*s in school, A* in Greek Language achieved early in Year 7</p>
</div>
</div>
</div>

</div>
{% endblock %}
