<section class="section">
      <div class="container">
        <div class="row justify-content-center text-center mb-4" data-aos="fade-up">
          <div class="col-5">
            <h3 class="h3 heading">Education</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
          </div>
        </div>
        <div class="row">

          <div class="col-12 col-sm-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <span class="icofont-university icofont-2x"></span>
            <h4 class="h4 mb-2"><br>BSc Computer Science</h4>
            <p>University of Warwick</p>
            <ul class="list-unstyled list-line">
              <li><b>Second year grade</b>: Pending</li>
              <li><b>Modules:</b> Algorithms, Formal Languages, Logic and Verification, Algorithmic Graph Theory, Database Systems, Operating Systems & Computer Networks, Software Engineering, Artificial Intelligence</li>
              <li><b>First year grade:</b> 1 (76%)</li>
              <li><b>Awards:</b> 'Purple Lambda' for one of highest grades in Functional Programming coursework</li>
              <li><b>Modules:</b> Object Oriented Programming (Java), Data Structures and Algorithm Analysis, Discrete Mathematics, Linear Algebra, Functional Programming (Haskell), Professional Skills, Computer Security, Computer Architecture</li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <span class="icofont-school-bag icofont-2x"></span>
            <h4 class="h4 mb-2"><br>A Levels & GCSEs</h4>
            <p>Y Pant Comprehensive School</p>
            <ul class="list-unstyled list-line">
              <li><b>A Level Grades:</b> A*A*A*aa</li>
              <li><b>Subjects:</b> Maths, Physics, Biology, Further Maths AS, Computer Science AS</li>
              <li><b>Supercurriculars:</b> Seren Network workshops in Mathematics covering content beyond the A Level curriculum</li>
              <li><b>Responsibilities:</b> Student Prefect developing leadership and teamwork skills</li>
              <li><b>GCSE Grades:</b> 12A*, 1A</li>
              <li><b>Accomplishments:</b> Most A*s in school, A* in Greek Language achieved early in Year 7</li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End Education Section -->
