{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-3">Project portfolio</h1>
  {% comment %} <p class="lead">Derivative trade data validation tool. Permits input, search and modification of trade data. 
  Input run through machine learning algorithms to detect erroneous data and prompt for correction.
  Generates PDF reports of daily trade data for the regulatory body.</p> {% endcomment %}
  <hr class="my-4">
  <p>Hi</p>
  {% comment %} <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> {% endcomment %}
</div>
{% endblock %}
