{% load static %}
<!-- ======= Works Section ======= -->
<section class="section site-portfolio">
    <div class="container">
    <div class="row mb-5 align-items-center">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
        <h2>Hey, I'm Spencer Mehta</h2>
        <p class="mb-0">Third year Computer Science student</p>
        </div>
    </div>
    <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
        <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
        <a class="item-wrap fancybox">
            <div class="work-info">
            <h3>Computer Science Student</h3>
            <span>Career</span>
            </div>
            <img class="img-fluid" style="height:350px" src="{% static 'img/StockSnap_1STVFMTBJY.jpg' %}">
        </a>
        </div>
        <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
        <a class="item-wrap fancybox">
            <div class="work-info">
            <h3>Skiing</h3>
            <span>Hobby</span>
            </div>
            <img class="img-fluid" style="height:350px;" src="{% static 'img/negative-space-ski-snow-blue-key-downhill-terje-sollie.jpg' %}">
        </a>
        </div>
        <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
        <a class="item-wrap fancybox">
            <div class="work-info">
            <h3>Video Games</h3>
            <span>Hobby</span>
            </div>
            <img class="img-fluid" style="height:350px" src="{% static 'img/negative-space-woman-holding-game-console-nintendo-ds-white-minimal-diana.jpg' %}">
        </a>
        </div>
    </div>
    </div>
</section><!-- End  Works Section -->