{% extends "base2.html" %}
{% block content %}

    <!-- ======= Services Section ======= -->
    <section class="section">
      <div class="container">
        <div class="row justify-content-center text-center mb-4" data-aos="fade-up">
          <div class="col-5">
            <h3 class="h3 heading">Portfolio</h3>
            <p>A selection of independent and coursework projects I've worked on.</p>
          </div>
        </div>
        <div class="row">

          {% for object in object_list %}
          <div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            {% if object.category == 'y2' %}<span class="icofont-university icofont-2x"></span>{% endif %}
            {% if object.category == 'ind' %}<span class="icofont-brainstorming icofont-2x"></span>{% endif %}
            <h4 class="h4 mb-2"><br>{{ object.title }}</h4>
            <p>{{ object.description }}</p>
            <ul class="list-unstyled list-line">
              <li>{{ object.get_category_display }}</li>
              <li>{{ object.technology }}</li>
              {% if object.category == 'y2' %} <li>Mark: {{ object.mark }}</li> {% endif %}
              {% if object.category == 'ind' %} <li><a href="{{ object.github }}">GitHub</a></li> {% endif %}
            </ul>
          </div>
          {% endfor %}

        </div>
      </div>
    </section><!-- End Services Section -->

{% endblock %}